<%- include('./partials/navbar') -%>
    <div>
        <div class="mainForum customContainer">
            <h2>Cats</h2>
            <h3><a href="/cats/general">General</a></h3>
            <h3><a href="/cats/health">Health</a></h3>
            <h3><a href="/cats/training">Training</a></h3>
            <h3><a href="/cats/adoptions">Adoption</a></h3>
            <h3><a href="/cats/other">Other</a></h3>
    </div>

<%- include('./partials/footer') -%>