<%- include('./partials/navbar') -%>
    <div class="mainForum container">
        <h2 class="text-center">Categories</h2>
        <a href="/cats">Cats</a>
        <a href="/dogs">Dogs</a>
        <a href="/other">Other</a>
        
    </div>

<%- include('./partials/footer') -%>