<html>
    <head>
    <title>Dashboard</title>
    </head>
    <body>
        <h1>DashBoard</h1>
        <p> Welcome <%= user.name %></p>
    </body>
    <a href="/users/logout" method="GET">logout</a>
</html>