<%- include('./partials/navbar') -%>
<div>
    <div class="mainForum customContainer">
        <h2>Dogs</h2>
        <h3><a href="/dogs/general">General</a></h3>
        <h3><a href="/dogs/health">Health</a></h3>
        <h3><a href="/dogs/training">Training</a></h3>
        <h3><a href="/dogs/adoptions">Adoption</a></h3>
        <h3><a href="/dogs/other">Other</a></h3>
</div>


<%- include('./partials/footer') -%>