<div class="login container">
  <h1 class="text-center loginTitle"> Login </h1>
  <div class="container text-center">
    <div class="error">
      <%- include ('./partials/messages') %>
    </div>
  </div>
  <form action="/login" method="POST" class="container">

    <div class="form-group">
      <label for="email" hidden>Email</label>
      <input type="email" name="email" placeholder="Email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password" hidden>Password</label>
      <input type="password" name="password" placeholder="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <a href="/register" class="text-center">Don't have an account? Register here.</a>

  </form>
</div>

<div class="loginbg">
  <img src="/img/loginBG.png">
</div>