<%- include('./partials/navbar') -%>
    <div>
        <div class="mainForum customContainer">

            <h2 class="text-center">Cats</h2>
            <div class="row">
                <div class="col-md-2">
                    <a href="/cats"><img src="/img/catIcon.png">
                    </a>
                </div>
                <div class="col-md-8">
                    <h3><a href="/cats/general">General</a></h3><span>For all things cat related.</span>
                    <h3><a href="/cats/health">Health</a></h3><span>For all health issues or concerns.</span>
                    <h3><a href="/cats/training">Training</a></h3><span>Yes, it's possible. </span>
                    <h3><a href="/cats/adoptions">Adoption</a></h3><span>Looking to adopt? This is the place to check.</span>
                    <h3><a href="/cats/other">Other</a></h3><span>Other sub categories not listed.</span>
                </div>
            </div>
        </div>

        <div>
            <div class="mainForum customContainer">
                <h2 class="text-center">Dogs</h2>
            <div class="row">
                <div class="col-md-2">
                    <a href="/cats"><img src="/img/dogIcon.png">
                    </a>
                </div>
                <div class="col-md-8">
                    <h3><a href="/dogs/general">General</a></h3><span>For all things dog related.</span>
                    <h3><a href="/dogs/health">Health</a></h3><span>For all health issues or concerns.</span>
                    <h3><a href="/dogs/training">Training</a></h3><span>Looking for tips on training your dog?.</span>
                    <h3><a href="/dogs/adoptions">Adoption</a></h3><span>Looking to adopt? This is the place to check.</span>
                    <h3><a href="/dogs/other">Other</a></h3><span>Others not listed above.</span>
                </div>
            </div>
            </div>

            <div>
                <div class="mainForum customContainer">
                    <h2 class="text-center">Other</h2>
                    <div class="row">
                        <div class="col-md-2">
                            <a href="/cats"><img src="/img/otherIcon.png">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h3><a href="/other/birds">Birds</a></h3><span></span>
                            <h3><a href="/other/reptiles">Reptiles</a></h3>
                            <h3><a href="/other/fish">Fish</a></h3>
                            <h3><a href="/other/hamsters">Hamsters</a></h3>
                            <h3><a href="/other/other">Other</a></h3>
                        </div>
                    </div>
                </div>

                <%- include('./partials/footer') -%>