<%- include('./partials/navbar') -%>
    <div>
        <h1 class="forumHeader">Pet Forums</h1>
        <div class="customContainer" id="cats">
            <div class="row">
                <div class="col-xl-2 col-sm-12 mainImg"><img src="/img/catIcon.png">
                </div>
                <div class="col-xl-10 col-md-12 col-sm-12">
                    <h2 class="mainTitle">Cats</h2>
                    <div class="mainTitleLink">
                        <h3><a href="/cats/general">General</a></h3><span>For all things cat related.</span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/cats/health">Health</a></h3><span>For all health issues or concerns.</span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/cats/training">Training</a></h3><span>Yes, it's possible. </span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/cats/adoptions">Adoption</a></h3><span>Looking to adopt? This is the place to check.</span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/cats/other">Other</a></h3><span>Other sub categories not listed.</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="mainForum customContainer" id="dogs">
            <div class="row">
                <div class="col-xl-2 col-sm-12 mainImg"><img src="/img/dogIcon.png">
                </div>
                <div class="col-xl-10 col-md-12 col-sm-12">
                    <h2 class="mainTitle">Dogs</h2>
                    <div class="mainTitleLink">
                        <h3><a href="/dogs/general">General</a></h3><span>For all things dog related.</span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/dogs/health">Health</a></h3><span>For all health issues or concerns.</span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/dogs/training">Training</a></h3><span>Looking for tips on training your dog?.</span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/dogs/adoptions">Adoption</a></h3><span>Looking to adopt? This is the place to check.</span>
                    </div>
                    <div class="mainTitleLink">
                        <h3><a href="/dogs/other">Other</a></h3><span>Others not listed above.</span>
                    </div>
                </div>
            </div>
            </div>

            <div>
                <div class="mainForum customContainer" id="other">
                    <div class="row">
                        <div class="col-xl-2 col-sm-12 mainImg"><img src="/img/otherIcon.png">

                        </div>
                        <div class="col-lg-10 col-md-12 col-sm-12">
                            <h2 class="mainTitle">Other</h2>
                            <hr>
                            <div class="mainTitleLink">
                                <h3><a href="/other/birds">Birds</a></h3>
                                <span>For all things birds.</span>
                            </div>
                            <div class="mainTitleLink">
                                <h3><a href="/other/reptiles">Reptiles</a></h3> <span>All reptiles here..</span>
                            </div>
                            <div class="mainTitleLink">
                                <h3><a href="/other/fish">Fish</a></h3><span>Post for fishes of every kind.</span>
                            </div>
                            <div class="mainTitleLink">
                                <h3><a href="/other/hamsters">Hamsters</a></h3><span>Hamsters, gerbils, rats, they're all welcome here!.</span>
                            </div>
                            <div class="mainTitleLink">
                                <h3><a href="/other/other">Other</a></h3><span>Got a pet that hasn't been listed yet? Share here!</span>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('./partials/footer') -%>