
<form action="/post/new-post" method="POST">
    <label for="title">Post Title:</label>
    <input type="text" id="title" name="title">
    <label for="body"> Body:</label>
    <textarea id="body" name="body" required></textarea>
    <button type="submit">Submit</button>
</form>
