<%- include('./partials/navbar') -%>
<div>
    <div class="mainForum customContainer">
        <h2>Other</h2>
        <h3><a href="/other/general">General</a></h3>
        <h3><a href="/other/health">Health</a></h3>
        <h3><a href="/other/training">Training</a></h3>
        <h3><a href="/other/adoptions">Adoption</a></h3>
        <h3><a href="/other/other">Other</a></h3>
</div>

<%- include('./partials/footer') -%>