/* ============ desktop view ============ */
body {
    background-color:#c0cad6;
}

.login {
    height: auto;
    margin-top: 10px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 25px;
} 

.loginbg img {
    width: 100%;
    overflow: hidden;
}

.mainTitleLink{
    border-top: .5px dotted gray;
    padding: 10px 0;
}


.subHead{
    background-color: black;
    height: 30px;
    color: white;
    font-size: 20px;
    padding-left: 20px; 
    font-weight: bold;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    border-radius: 25px;
}

.subBodyPost {
    border-bottom: 1px solid gray;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subBodyTitle {
    font-weight: bold;
    font-size:15px;
}

.subBodyTitle img {
    height: 65px;
    width: auto;
}

.error{
    color: red;
    margin: 15px 0;
    font-size: 30px;
    font-weight:bold;
}

.mainTitle {
    font-weight: bold;
    font-size: 50px;
}
.recentPosts {
    margin-top: 15px;
}
.mainImg {
    margin-top: auto;
    margin-bottom: auto;
}
.topNav {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
    text-transform: capitalize;
}
.customContainer {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
    padding: 20px;
    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
}
.form {
    border: 2px black solid;
    border-radius: 25px;
}
.navMain {
    font-size: 40px;
}
.navMain img {
    height: auto;
    width:100px;
}

.marginTop30px {
    margin-top: 30px;
}
.forumHeader {
    margin-left: 70px;
    font-size: 60px;
}

a {
    color: #0993f3;
}

a:hover {
    text-decoration: none;
    color: #0763e5;
}
.category {
    border: 2px black solid;
}

.category img {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.text-enlarge {
    font-size: 30px;
}

.forumPost {
    border: .5px gray solid;
    border-radius: 5px;
}

.forumPostSnip p {
    font-size: 15px;
}
.forumPostSub {
    font-style: italic;
}
.forumPostBody {
    padding: 20px;
}
.forumPostHead{
    background-color: black;
    color: white;
    padding-left: 20px;
}

.forumPostMain {
    margin-top: 20px;
}
footer {
    background-color: blue;
}

.comments{
    padding-left: 10px;
}

.nav-link {
    font-size: 24px;
}

.userIcon img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.commentReply {
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentReplyTitle{
    font-size: 14px;
    font-style: italic;
}
.addNewComment {
    margin-top: 20px;
}
li p {
    background-color: white;
}

.navbar .nav-item .dropdown-menu{ 
    display: none; 
}
.navbar .nav-item .nav-link{ 
    color: black;
}

.dropdown-item .nav-link:hover { 
    color: white;
}
.dropdown-item .nav-link{ 
    color: black;
}
.navbar .nav-item:hover .nav-link{ 
    color: #fff;
}
.navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
}
.navbar .nav-item .dropdown-menu{ 
    margin-top:0;
 }


/* ============ mobile view / ============ */
@media all and (max-width: 768px) {
    .loginbg img {
        display: none;
    }

    .navbar img{
        display: none;
    }  

    .customContainer{
        background-color: black;
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 40px;
        padding: 20px;
        border: 2px black solid;
        border-radius: 25px;
        background-color: white;
    }

}