
body {
    background-color:#737CA1;
}


.login {
    margin-top: 10%;
    padding: 30px;
    background-color: white;
}

.recentPosts {
    margin-top: 15px;
}

.topNav {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
}
.customContainer {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
    padding: 20px;
    border: 2px black solid;
    border-radius: 25px;
    background-color: white;
}
.form {
    border: 2px black solid;
    border-radius: 25px;
}
.navMain {
    font-size: 40px;
}
.navMain img {
    height: auto;
    width:100px;
}
.mainForum {
    margin-top: 30px;
}
.forumHeader {
    margin-left: 70px;
    font-size: 60px;
}

.category {
    border: 2px black solid;
}

.category img {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.text-enlarge {
    font-size: 30px;
}

.forumPost {
    border: .5px gray solid;
    border-radius: 5px;
    padding-left: 10px;
    margin: 1% 0;
}

.forumPostSnip p {
    font-size: 15px;
}
.forumPostSub {
    font-style: italic;
}
.forumPostBody {
    margin-top: 25px;
    padding-bottom: 20px;
}

footer {
    background-color: blue;
}

.comments{
    border: 1px solid black;
    padding-left: 10px;
}

.commentReply {
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentReplyTitle{
    font-size: 14px;
    font-style: italic;
}
.addNewComment {
    margin-top: 20px;
}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .dropdown-item:hover { background-color: blue;}
	.navbar .nav-item:hover .nav-link{ color: #fff;}
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */